watch_file ./config/dev-shell.nix
use flake
use op

if [[ ! -f .direnv/age-key ]]; then
  TEMPDIR=$(mktemp -d /tmp/sshkeytest.XXXXXX)
  trap "rm -rf $TEMPDIR" EXIT

  # Export the key in pkcs8 format from 1password
  op read "op://Private/Nix-system SOPS age key/private key" > $TEMPDIR/key
  chmod 600 $TEMPDIR/key

  # Convert the key to openssh format
  ssh-keygen -p -m PEM -f $TEMPDIR/key -q -N ""

  ssh-to-age -i $TEMPDIR/key -private-key > .direnv/age-key
fi

export SOPS_AGE_KEY=$(cat .direnv/age-key)
