name: CI
on:
  push: {}

  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    needs: []
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21

      - name: Check Nix flake Nixpkgs inputs
        uses: DeterminateSystems/flake-checker-action@main

      - name: Show flake
        run: nix flake show --extra-experimental-features pipe-operators

      - name: Check flake
        run: nix flake check --extra-experimental-features pipe-operators
